// About

@use '../base/settings' as *;
@use '../base/type' as *;
@use '../utilities/mixins' as *;

main{
   

    .page-info-container{
        .page-bg{
            width: auto;

            .img{
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;   
            }
            
            .about-container{
               display: flex;
               flex-wrap: nowrap;
               align-items: center;
               justify-content: center;

                .about-text{
                    .align-one{
                        text-align: center;
                        font-size: 2rem;
                        padding: 40px 0 30px 0px;
                    }
                    
                    p{
                        text-align: center;
                        padding: 0px 15px 20px 15px;
                        font-weight: $fontMed;
                        font-size: 0.95rem;
                        line-height: 1.25;
                    
                        .tmbd{
                            color: #77D1F5;
                        }
                       
                        .logo{
                            max-width: 60px; 
                            padding-top: 10px;
                        }
                    }
    
                    .align-two{
                        text-align: center;
                        font-weight: $fontBold;
                        font-size: 1.5rem;
                        margin-top: 25px;
                    }
    
                    .btn-container{
                        padding: 20px 15px 0 15px;         
                       
                        .single-btn {
                            display: flex;
                            align-items: center;
                            .circle{
                                margin: 0px 10px 25px 0px;
                                padding:  5px;
                                background-color: $darkPurple;
                                border-radius: 50%;
                                width: 60px;
                                height: 50px;
                                border: solid 2px $iconColor;
                                color: $iconColor;
                                text-align: center;
                                font-weight: $fontBold;
                                font-size: 1.87rem;
                            }
                            p{
                                padding:0;
                            }
                            .btn{
                                margin: 0px 0 25px 0px;
                                background-color: $darkPurple; 
                                font-weight: $fontReg;
                                font-size: 0.875rem;
                                line-height: 1.35rem;
                                color: $fontColor;
                                border-radius: 15px;
                                border: solid 2px $iconColor;
                                padding: 15px;
                                width: 90%;

                                .ie{
                                    font-style: italic;
                                    font-size: 0.8rem
                                }
                               
                                .color{
                                    color: $iconColor;
                                    
                                }
                            }
                        }
                    }
                }// End about-text
            }//End .about-container
        }// End page-bg
    }

    @media (min-width: $tabletSmall){
        @include mc;

        .page-info-container{
            min-width: 700px;

            .page-bg{
                .about-container{
                    max-width: 670px;
                    @include mc;

                    .about-text{
                        p{
                            font-size: $fontDesktop;
                        }

                        .p-two{
                        
                            .logo{
                                max-width: 60px; 
                            }
                        }
                    }   
                }
                
            }
            
        }
        
    }

}// End of main
