// Button Main Nav 

@use '../base/settings' as *;

.btn-main-nav {

    border: none;
    background: none;
    margin-right: em(12);

    &:hover{
        cursor: pointer;
    }

    .line{
        border-radius: 40px;
        width: 40px;
        height: 8px;
        background-color: $iconColor;
        display: block;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;

        .show &:nth-child(2){
            width: 0;
        }

        .show &:nth-child(1), .btn-main-nav.show .line:nth-child(3){
            transition-delay: 0.3s;
        }

        .show &:nth-child(1){
            transform: translateY(13px);
        }

        .show &:nth-child(3){
            transform: translateY(-13px) rotate(90deg);
        }

    }
      
    .show & {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);
    }

    @media (min-width: em(600)){
        display: none;
    }

}