// Favourites page body styles
@use '../base/settings' as *;
@use '../base/type' as *;
@use '../utilities/mixins' as *;



.fav-movie-heading{
    padding-top: 20px;
    margin-top: 20px;
    
    
    @media (min-width: $tabletSmall){
        @include mc;
        max-width: $siteWidth;
        display: flex;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }    
    h2{
        font-size: 0.875rem;
        text-transform: uppercase;
        padding-left: 15px;
    }  
}
    
.fav-container{
    
    height: 100%;
    padding-top: 25px;

    .no-fav-par{
        text-align: center;

        a{
            text-decoration: none;
            color: $iconColor;
            font-weight: $fontExtra;
            font-size: 1.1rem;

        }
    }

    
                
    @media (min-width: $tabletSmall){
        max-width: $siteWidth;
        @include mc;
        height: 100%;
        padding-top: 0;
        

        .no-fav-par{
            height: 60vh;
        
            
        }
    }    

}
    

