// Favourites page body styles
@use '../base/settings' as *;
@use '../base/type' as *;
@use '../utilities/mixins' as *;



.fav-movie-cont{
    padding-top: 20px;
    margin-top: 20px;
    
    @media (min-width: $tabletSmall){
        @include mc;
        max-width: $siteWidth;
        display: flex;
        padding-bottom: 20px;
    }    
    h2{
        font-size: 0.875rem;
        text-transform: uppercase;
        padding-left: 15px;
    }

    ul{
        li{
            margin: 10px 0 10px 20px;
            font-size: 0.875rem;
            font-weight: $fontSemi;
            @media (min-width: $tabletSmall){
                display: inline;    
            }

        }
    }


}
    
.play-trailer-bar{
        
    background-color: $purple;
    height:50px;
    width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: $tabletSmall){
        display: none;
    }
    
        
        .play-icon{
            display: flex;
            align-items: center;
            font-weight: $fontSemi;
            font-size: 1.1rem;
            
            @media (min-width: $tabletSmall){
                display: none;
            }
            
            
            
            .fa{
                margin-right: 5px;
                border: 4px solid $darkPurple;
                border-radius: 50%;
                font-size: 1.5rem;
                color: $fontColor;              
            }
        }
}   

        .about-movie-container{
            background: $bgGradient;
            display: grid;
            grid-template-columns: 45% 55%;
            margin-top: 15px;
            
            @media (min-width: $tabletSmall){
                @include mc;
                border: solid 2px yellow;
                max-width: $siteWidth;
                display: flex;
                align-items: flex-end;
                // width: 200px;
                // height: auto;
            
            
            } //end media

            

            

            .movie-poster{
                position: relative;

                .poster-image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                
                    
                .movie-rating{
                        background-color: $darkPurple;
                        opacity: 0.7;
                        width: 70%;
                        height: 20%;
                        color: $iconColor;
                        position: absolute;
                        bottom: 0;
                        right: 0;

                        @media (min-width: $tabletSmall){
                            display: none;
                        }

                    p{
                        font-weight: $fontExtra;
                        font-size: 1.5rem;
                        text-align: right;
                        padding: 10px 8px 10px 20px;

                    }
                }
            }
            
            .movie-description{
                
                color: $fontColor;
                display: block;
                padding: 10px;

                .circle{
                    display: none;
                    @media (min-width: $tabletSmall){
                        display: flex;
                        // margin: 0px 10px 25px 0px;
                                padding:  10px;
                                background-color: $darkPurple;
                                border-radius: 50%;
                                width: 60px;
                                height: 50px;
                                border: solid 2px $iconColor;
                                color: $iconColor;
                                text-align: center;
                                font-weight: $fontBold;
                                font-size: 1.2rem;
                    }


                }
            
                h2{
                    padding-top: 10px;
                    padding-bottom: 5px; 
                    font-size: 1.2rem;
                
                }
                h3{
                    font-size: 0.85rem;
                    padding-bottom: 10px;

                }
                p{
                    font-size: 0.75rem;
                    line-height: 1.25;
                    padding-top: 50px;
                
                }
            }
        }




.fav-input-container{
    background-color: $darkPurple;
    @media (min-width: $tabletSmall){
        display: none;
    }
    
    .icon-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 0;
        
        .icon{
            display: flex;
            align-items: center;
            padding: 8px;
            margin-left: 15px;
            padding: 15px 0 15px 10px;
            
            .fa{
            margin-right: 8px;
            border: solid 1px $fontColor;
            border-radius: 50%;
            padding: 5px;
            background-color: $iconBgColor;
            font-size: 0.65rem;
            }
            
            p{
                font-size: 0.875rem;
            }
        }
        //CHANGE TO DYNAMIC
        .fav-icon{
            .fa {
                 color: $iconColor;
                 background-color: $darkPurple;
                 border: solid 1px $iconColor;
            }
            p{
                color: $iconColor;
            }
        }
       
    

    }


    
}