//Footer

@use '../base/settings' as *;

footer{
    background-color: $darkPurple;
    border-top: 5px solid $borderPurple;

    .footer-top-row{
        padding: 5px 15px 0 15px;
        display: flex;
        flex-direction: column;
        
        .logo-container{
            
            
            .logo{
                max-width: 170px;  
                margin-top: 10px;
            }
        }

        .btn{
            background-color: $borderPurple;
            text-transform: uppercase;
            font-weight: $fontExtra;
            font-size: 0.65rem;
            color: $fontColor;
            border-radius: 8px;
            border: solid 2px $iconColor;
            padding: 8px;
            width: 150px;
            margin: 10px 0;

            a{
                text-decoration: none;   
            }
            
        }
    }
    
    .footer-menu-container{
        color: $footerText;
        font-weight: $fontReg;
        font-size: 0.85rem;
        line-height: normal;
        padding: 10px;
        
        //FOR DESKTOP SIZE
        //display: grid;
        //grid-template-columns: auto;
        //grid-template-rows: auto;
        //grid-template-areas:
          //    "colOne colTwo colThree colFour colFive";

        
        
        .footer-menu{
            padding: 10px;
            
            .uppercase{
                    text-transform: uppercase;
                    color: $footerText;
                    font-weight: $fontBold;
                    font-size: 0.85rem;
                    line-height: 1.5rem;
                    
            }
        }
        
        .colOne{
            grid-area: colOne;
            
        }

        .colTwo{
            grid-area: colTwo;
        }

        .colThree{
            grid-area: colThree;
        }

        .colFour{
            grid-area: colFour;
        }

        .colFive{
            grid-area: colFive;
        }
            
        
    }
    p{
        
        font-weight: $fontReg;
        padding: 20px;
        
    }
}
