// Header

@use '../base/settings' as *;
@use '../utilities/mixins' as *;



header {
    .main-container{
        background: $bgGradientDark; 
        border-bottom: 5px solid $borderPurple; 

        

        .header-top-row{
           
            display: flex;
            justify-content: space-between;

            @media (min-width: $desktopSmall){
                @include mc;
                max-width: $headerMaxWidth;
            }
        
            .logo-container{
                .logo{
                    max-width: 200px;  
                    padding-left: 10px;
                    @media (min-width: $desktopSmall){
                        max-width: 250px; 
                    }// End of Media
                }

            }
            .main-nav{
                display: none;

                @media (min-width: $desktopSmall){
  //                  border: 2px solid blue;
                    width: 500px;
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 25px;
                    
                    .desktop-nav{
//                        border: solid 2px orange;
                        display: flex;
                        justify-content: space-around;
                        width: 100%;

                            li{
                        
                                display: inline;
                                margin-left: 5px;
                                margin-right: 5px;
                                text-align: center;
                                
                        
                                a{
                                    text-decoration: none;
                                    font-weight: $fontBold;
                                    text-transform: uppercase;
                                    font-size: 1rem;
                                    
                                    &:hover, &:focus, &:active{
                                        color: $hoverColor;
                                        transition: 0.04s;
                                    }
                        
                                    
                                }      
                            }

                        }// End of Media

                    }// End of Desktop-nav
                    
            }
            
            .right-nav{
                width: 100px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-right: 10px;
                
                @media (min-width: $tabletSmall){
                    width: 200px;
                    padding-right: 20px;
                    align-items: flex-end;
                    margin-bottom: 26px;
                    
                }

                .icons{
                    
                    font-size: 20px;
                    color: $iconColor;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;

                    .fa{
                        padding: 0 5px;
                        margin-right: 8px;
                    }

                    @media (min-width: $tabletSmall){
                        margin-right: 10px;


                        
                    
                    }// End of Media
                }
                
                
                
                .btn-container{
                    @media (min-width: $tabletSmall){
                        
                    }
                    .btn{
                        display: none;
            
                        @media (min-width: $tabletSmall){
                                display: inline-block;
                                background: $bgGradientDark;
                                text-transform: uppercase;
                                font-weight: $fontExtra;
                                font-size: 0.65rem;
                                color: $fontColor;
                                border-radius: 8px;
                                border: solid 1px $iconColor;
                                padding: 8px;
                                width: 90px;
                                height: 30px;
                               
                    
                                a{
                                    text-decoration: none;   
                                }
                                
                            
                        }// End of Media
                    }
    
                }// End of btn-container
                
                
                   
            }//end of .right-nav

           .search-box{
                    display:none;
                    
                    @media (min-width: $desktopSmall){
                        
                    }// End of Media

                }
                    

               
        

            

            
            
            
        }// End of Header-top-row

        .mobile-menu{
            @media (min-width: $desktopSmall){
            display: none;
            }
        }
    }// End of main-container    
}// End of Header

