// Header

@use '../base/settings' as *;

header {
    
    .header-top-row{
        background: $bgGradientDark; 
        border-bottom: 5px solid $borderPurple; 
        display: flex;
        justify-content: space-between;
    
        .logo-container{
            .logo{
                max-width: 200px;  
            }
        }
        
        .icons{
            height: 100%;
            width: 15%;
            margin: auto;
            margin-right: 20px;
            font-size: 20px;
            color: $iconColor;
            display: flex;
            justify-content: space-between;
        }

        .search-box{
            display:none;
        }
    }
}

