// Header

@use '../base/settings' as *;

header {
    
    .header-top-row{
        background: $bgGradientDark; 
        border-bottom: 5px solid $borderPurple; 
        display: flex;
        justify-content: space-between;
    
        .logo-container{
            .logo{
                max-width: 200px;  
            }
        }

        .desktop-nav{
            display: none;

            @media (min-width: $desktopSmall){
                display: inline;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-around;
                padding-bottom: 20px;

                li{
                    align-items: justify;
                    padding-top: 15px;
                    display: inline;
                    //width: 100%;
                    margin-left: 5px;
                    margin-right: 5px;
                    text-align: center;
                    
            
                    a{
                        text-decoration: none;
                        font-weight: $fontBold;
                        
                        &:hover, &:focus, &:active{
                            color: $hoverColor;
                            transition: 0.04s;
                        }
            
                        
                    }      
                }
            }// End Media

        }// End Desktop-nav
        
        .icons{
            height: 100%;
            width: 15%;
            margin: auto;
            margin-right: 20px;
            font-size: 20px;
            color: $iconColor;
            display: flex;
            justify-content: space-between;
        }

        .search-box{
            display:none;
        }



    }// End Header-top-row

    .mobile-menu{
        @media (min-width: $desktopSmall){
        display: none;
        }
    }
}// End Header

