// Main for home page

@use '../base/settings' as *;
@use '../base/type' as *;
@use '../utilities/mixins' as *;



.movie-sort-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 40px;
    margin-top: 20px;
  
    .nav-container{
        display: flex;
        padding-right: 5px;
        padding-bottom: 15px;
        font-size: 0.80rem;
        font-weight: $fontSemi;
        width: 100%;
        border-bottom: solid 1px $purple;
 
        li{
            display: inline;
            width: 33%;
            margin: auto;
            text-align: center;
            padding: 5px;
            
            a{
                text-decoration: none;
                color: #fdaad2;

                &:hover, &:focus, &:active{
                    color: $hoverColor;
                    transition: 0.04s;
                }
            }
        }


        @media (min-width: $tabletSmall){
            @include mc;
            width: 50%;
            margin-bottom: 15px;
            font-size: 0.875rem;
        }    
    }

    



}

.desktop-grid{
    
    padding: 5px 15px 10px 15px;
        
    @media (min-width: $tabletSmall){
        @include mc;
        max-width: $headerMaxWidth;
        //border: solid 2px orange;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 28px;     
    }
   
    
    .index-movie-container{
        background: $bgGradient;
        display: grid;
        grid-template-columns: 45%  55%;
        margin-top: 15px;
        
        @media (min-width: $tabletSmall){
            @include mc;
            width: 200px;
            height: 450px;
            padding: 3px;
            position: relative;
            display: flex;
            align-items: flex-end;
        } //end media

        
        .movie-poster{
            position: relative;
            
            @media (min-width: $tabletSmall){
                position: absolute;
                left:-10px;
                top: 15px;
                width: 185px;
                height: 280px;
                box-shadow: $boxShadow;
            }//end media

            .poster-image{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .fav-heart-icon{
                position: absolute;
                top: 0;
                right: 0;
    
                .btn-favourite {
                    display: block;
                    width: 35px;
                    height: auto;
                    background: none;
                    border: none;
                    padding: 0;
                    opacity: 0.9;
                    cursor: pointer;
                }
                
                .sr-only {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0,0,0,0);
                    border: 0;
                }
                
                @media (min-width: $tabletSmall){
                    padding-top: 2px;
                    
                    .btn-favourite{
                        width: 45px;
                        margin-right: -3px;
                       
                    }
                    img{
                    width: 35px;
                    }
                }//end media
            
            
            }//fav-movie-icon




            .movie-rating{
                background: $darkPurpleRGB;
                width: 70%;
                height: 20%;
                color: $iconColor;
                position: absolute;
                bottom: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 10px;
                border-top-left-radius: 3px;

                @media (min-width: $tabletSmall){
                    width: 65%;
                    left: 90px;
                    
                }//end media

            p{
                font-weight: $fontExtra;
                font-size: 1.80rem;
                color: $iconColor;
                
                @media (min-width: $tabletSmall){
                    padding-right: 20px;
                }//end media

            }
        }
    }
        
        .movie-description{
            padding: 15px;
           
            h2{
                font-size: 1rem;
                line-height: 1.2rem;
                width: 100%; 
                @media (min-width: $tabletSmall){
                    padding: 15px 5px 10px 5px;
                    line-height: 1.25rem;
                }
            }

            @media (min-width: $tabletSmall){
                display: wrap;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                height: 155px;
                width: 100%;
                text-align: center;
                padding: 2px;

            }//end media for movie-description
        

            .dt-movie-infobox{
                
                @media (min-width: $tabletSmall){
                    display: flex;
                    flex-wrap: wrap;
                    height: 60px;
                    width: 100%;
                    padding: 0;
                    position: absolute;
                    bottom: 0;
                    padding-bottom: 5px; 
                    margin-top: 50px;
                }//end media
               
                h3{
                font-size: 0.85rem;
                width: 100%;
                line-height: 1.10rem;
                margin-top: 10px;

                    .date-break{
                            display: block;
                            margin: 0;
                            line-height: 0;
                    }
                
                    @media (min-width: $tabletSmall){
                    font-size: .875rem;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 3px;
                    text-align: center;
                    }
                
                @media (min-width: $tabletSmall){
                    line-height: 1.2rem;
                    font-size: 0.8rem;
                    padding-bottom: 5px;
                    position: absolute;
                    left: -5px;
                    top: 17px;
                }// h3 @media

            }//end .dt-movie-infobox

                .dt-more-infolink{
                    display: none;

                    @media (min-width: $tabletSmall){
                        display: block;
                        padding: 2px;
                        color: $iconColor;
                        font-size: .875rem;
                        font-weight: $fontSemi;
                        text-decoration: none; 
                        width: 100%;
                        height: 20px;
                        line-height: 0.5rem;
                        margin-left: -5px;
                    }//end media
                }

                p{
                    font-size: 0.75rem;
                    line-height: 1.25;
                    padding-top: 50px;
          
                    @media (min-width: $tabletSmall){
                    display: none;
                    }//end media
                
                }  
            }
           
        }

        
    }// index movie container
    
}