// Main for home page

@use '../base/settings' as *;
@use '../base/type' as *;
@use '../utilities/mixins' as *;

.desktop-grid{
    
    padding: 5px 15px 10px 15px;
    
    @media (min-width: $tabletSmall){
        @include mc;
        max-width: $headerMaxWidth;
        //border: solid 2px orange;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 28px;
        margin-top: 50px;        
        
    }
   
    
    .index-movie-container{
        background: $bgGradient;
        display: grid;
        grid-template-columns: 45% 55%;
        margin-top: 15px;
        
        @media (min-width: $tabletSmall){
            @include mc;
            width: 200px;
            height: 420px;
            padding: 0;
            position: relative;
            display: flex;
            align-items: flex-end;
      
        } //end media

  
        .movie-poster{
            position: relative;
            

            @media (min-width: $tabletSmall){
            position: absolute;
            left:-10px;
            top: 15px;
            width: 185px;
            height: 280px;
            box-shadow:  3px 3px 8px rgba(8, 3, 5, 0.5);
            
            
            
            }//end media

            .poster-image{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

              
                
            .movie-rating{
                    background-color: $darkPurple;
                    opacity: 0.7;
                    width: 70%;
                    height: 20%;
                    color: $iconColor;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    @media (min-width: $tabletSmall){
                        width: 150px;
                        left: 60px;

                    }//end media

                p{
                    font-weight: $fontExtra;
                    font-size: 1.5rem;
                    text-align: right;
                    padding: 10px 8px 10px 20px;
                    color: $iconColor;
                    @media (min-width: $tabletSmall){
                        padding-right: 30px;
                        padding-top: 12px;
                        font-size: 2.0rem;
                       
                    }//end media

                }
            }
        }
        
        .movie-description{
            
            color: $fontColor;
            display: block;
            padding: 10px;
            
            @media (min-width: $tabletSmall){
            height: 30%;
            width: 100%;
          
            text-align: center;
            }//end media
        
            h2{
                padding-top: 10px;
                padding-bottom: 5px; 
                font-size: 1.2rem;
            
                
              
            }
            .dt-movie-infobox{
                
                @media (min-width: $tabletSmall){
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    margin-top: 20px;
                    padding: 0;

                }//end media
               
                h3{
                font-size: 0.85rem;
                padding-bottom: 10px;
                
                @media (min-width: $tabletSmall){
                    font-size: .90rem;
                    padding: 0;
                    

                }

                }

                .dt-more-infolink{
                    display: none;

                    @media (min-width: $tabletSmall){
                        display: block;
                        
                        padding: 0;
                        color: $iconColor;
                        font-size: .90rem;
                        font-weight: $fontBold;
                        
                        a{
                            color: $iconColor;
                            text-decoration: none;

                            &:hover, &:focus, &:active{
                               transition: 0.04s;
                            }
                        }

                    }//end media
                }

                p{
                    font-size: 0.75rem;
                    line-height: 1.25;
                    padding-top: 50px;
                    
                    @media (min-width: $tabletSmall){
                    display: none;
                    }//end media
                
                }  
            }
           
        }
    }
    
}