// Page Not Found
@use '../base/settings' as *;
@use '../base/type' as *;
@use '../utilities/mixins' as *;

 main{
    display: block;
    
    @media (min-width: $tabletSmall){
    @include mc;    
    }

    .page-container{
         
        .page-background{
            width: auto;            
           
            .image{
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                
                @media (min-width: $tabletSmall){
                    @include mc;
                }
            }// img

            .text-container{
                height: 400px;
                padding-top: 50px;

                .align{
                    text-align: center;
                    color: $fontColorRGBA;
                    font-size: 7.5rem;
                    padding-bottom: 30px
                }
    
                .p{
                    text-align: center;
                    padding: 0px 15px 20px 15px;
                    font-weight: $fontSemi;
                    font-size: 0.875rem;
                    line-height: 1.55;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    box-shadow: $boxShadow;
            
                    .homelink{
                        margin: 15px 0 20px 0;

                        a{
                            text-decoration: none;
                            color: $iconColor;
                            font-weight: $fontExtra;
                            font-size: 1.2rem;
    
                        }
                    }
                }

                @media (min-width: $tabletSmall){
                    max-width: 670px;
                    @include mc;
                    height: 70vh;
                    padding-top: 100px; 

                    p{
                        font-size: $fontDesktop;
                    }
                } 
            } // text-container  
        }// Page-bg   
    }      
}// Main                     