// Single Movie page body styles
@use '../base/settings' as *;
@use '../base/type' as *;


.single-movie-cont{
    margin-top: 15px;
    background: $bgGradient;
    height: 100%;
    width: auto;

    .poster-section{
       height: 250px;
       position: relative;
       
             
        .single-bg{
            height: 100%;
            background-position: top left;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.1;
            overflow: hidden;
            
        }

        .poster-single{
            width: 165px;
            height: 100%;
            position: absolute;
            bottom: 0;         
            left: 20%;
            background-position: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 1px 1px 6px $purple;

            @media (min-width: $tabletSmall){
                left: 10%;
                
                
            }
        }
    }    

    .single-bar{
        background-color: $purple;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 0.875rem;
        padding: 0 10px;
        margin:auto;
        @media (min-width: $desktopSmall){
            display: none;
        }



        .rating{
            display: flex;
            align-content: center;
            
            
            p{
                color: $iconColor;
                
                .rating-text{
                    font-size: 1.5rem;
                    font-weight: $fontExtra;
                    padding-right: 5px;
                }
            }         
        }

        .play-container{
            display: flex;
            align-items: center;
            
            
            
            .fa{
                margin-right: 5px;
                border: 4px solid $darkPurple;
                border-radius: 50%;
                font-size: 1.25rem;
                color: $fontColor;
                              
            }

        }
    }

    .icon-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 15px;

        @media (min-width: $desktopSmall){
            display: none;
        }
        
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            padding: 15px 0 15px 10px;
            
            .fa{
            margin-right: 8px;
            border-radius: 50%;
            padding: 10px;
            background-color: $darkPurple;
            font-size: 1.25rem;
            }    
        }
        
    }

    h2{
        font-size: 1.4rem;
        text-align: center;
        @media (min-width: $desktopSmall){
            display: none;
        }
        
    }
    .movie-info-container{
        margin-top: 15px;
        padding: 10px;
        background-color: $purple;
        width: 100%;
        display: flex;
        align-items: center;

       .movie-info{
        margin-left: 20%;
        width: 90%;
        font-size: 0.875rem;
        line-height: 1.3rem;
        }  
        
        .rating-icon{
            width: 10%;
            font-size: 1.75rem; 
            padding: 10px;
        }
        @media (min-width: $desktopSmall){
            display: none;
        }
        
    }
   
    .movie-summary{
        padding: 10px;
        font-size: 0.75rem;
        line-height: 1rem;

        h3{
            font-size: 1rem;
            font-weight: $fontBold;
            margin: 10px 0;
        }
        @media (min-width: $desktopSmall){
            display: none;
        }
    }

}





