// Single Movie page body styles
@use '../base/settings' as *;
@use '../base/type' as *;
@use '../utilities/mixins' as *;




.single-movie-cont{
    background: $borderPurple;
    height: 100%;
    width: auto;
    

    .poster-section{
       height: 250px;
       position: relative;
       margin-bottom: 10px;
       
             
         .single-bg{
            height: 100%;
            width: 100%;    
            position: absolute;
            top: 0;
            left: 0;
            background-position: top left;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.2;      
        }//single-bg end

        .poster-single{
            width: 165px;
            height: 100%;
            margin: 0 auto;
            position: relative;
            z-index: 300;           
            box-shadow: $boxShadow;
            
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }//poster-single end

        // poster section @media
        @media (min-width: $tabletSmall){
            height: 400px;

            .single-bg{
                background-attachment: fixed;
            }

            .poster-single{   
                    width: 265px;     
            }
        }
    }//poster-section end

    .icon-container{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        .percentage-icon{
            color: $iconColor;
            
        }
               
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;          
            margin-right: 15px;

            
            .fa{
            border-radius: 50%;
            padding: 10px;
            background-color: $darkPurple;
            font-size: 1.25rem;
            border: 1px $iconColor solid;
            color: $iconColor;
            }

            .rating{
                background: none;
                border-radius: 5%;
                font-size: 1.875rem;
                font-weight: $fontBold;
                padding-left: 20px;    
            }

            .btn-favourite {
                display: block;
                width: 50px;
                height: auto;
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
            }  
        }

        .play-icon{
            &:hover{
                opacity: 0.1;
            }
        }
        //media for icon-container
        @media (min-width: $desktopSmall){
            width: 60%;
            margin: auto;
            margin-bottom: 20px;

            .icon{
                padding: 10px 0 0 0;    
                width: 100px;

                .fa{
                    font-size: 1rem;
                }
            }
        }
    }

    .movie-info-container{
        margin-top: 15px;
        padding: 10px;
        background: $bgGradientDark;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        .make-genres-arr{
            padding: 3px;
            line-height: 1.15rem;       
        }
        
        .rating-icon{
            width: 75px;
            margin-right: 25px;
            border: solid 1px $iconBgColor;
            border-radius: 3px;
            padding: 10px;
            text-align: center;
            font-size: 0.875rem;

            p{
                display: inline;
            }
        }
            .movie-info{
                width: 65%;
                font-size: 0.8rem;
                line-height: 1.2rem;
            }  //movie-info-container end

            @media (min-width: $desktopSmall){
                margin-top: 0;
                width: 100%;
                margin: auto;  
                margin-bottom: 20px;   
                display: flex;
                justify-content: center;
                padding: 15px;

                .rating-icon{
                width: 100px;
                
                }

                .rating-icon{
                    border: solid 2px $iconBgColor;

                    p{
                        font-size: 1rem;
                        font-weight: $fontBold;
                    }
                }

                .movie-info{
                    width: 25%;
                    font-size: 1rem;
                    line-height: 1.4rem;
                }
            }        
        } //movie info container end
   
    h2{
       font-size: 1.4rem;
       padding-left: 20px;
       height: 25px;
       margin-top: 20px;
        
       @media (min-width: $desktopSmall){
           @include mc;
           max-width: $siteWidth;
           font-size: 1.875rem;
           height: 40px;
           margin-top: 10px;
           margin-bottom: 10px;
        }
    }

    .tag-line{
        font-style: italic;
        padding-left: 20px;
        margin-top: 20px;
        font-size: 0.875rem;

        @media (min-width: $desktopSmall){
            @include mc;
            font-size: 1rem;
            max-width: $siteWidth;
            margin-top: 30px;
            margin-bottom: 15px;
        }
    }
   
    .movie-summary {
        padding: 15px 20px;
        font-size: 0.85rem;
        line-height: 1.2rem;     

        h3{
            font-size: 1rem;
            font-weight: $fontBold;
            margin: 10px 0;
        }

        @media (min-width: $desktopSmall){
            @include mc;
                max-width: $siteWidth;
                 margin-bottom: 5px;
                font-size: .875rem;
                line-height: 1.2rem;

                h3{
                    font-size: 1.25rem;
                }
        }
    }

    .cast-container{
        
        .cast-heading{
            display: block;
            font-size: 1rem;
            font-weight: $fontBold;
            width: 100%;
            margin: 10px 0 20px 0;
            padding: 10px 0 10px 20px;
        }
    
        .cast-members{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 0 10px;


            .cast{
                font-size: 0.75rem;
                line-height: 1rem;
                width: 44%;
                margin: 10px auto;
                background: $bgColor;
                border-radius: 5px;
                box-shadow: $boxShadow;
                text-align: center;
                
                .cast-photo, .placeholder-photo{ 
                    height:auto;
                    width: 100%;
                    padding: 0;  
                    border-radius: 5px 5px 0 0;  
                }

                .cast-name{
                    padding: 8px;
                    color: $footerText;
                    font-weight: $fontBold;
                    width: 100%;
                }

                .cast-character{
                    font-weight: $fontMed;
                    color: $footerText;
                    padding: 5px 5px 15px 5px;
                    
                }
            }
        }
        
        @media(min-width: $desktopSmall){
            @include mc;
            max-width: $siteWidth;
            display: flex;
            flex-wrap: wrap;   
            
            .cast-heading{
                font-size: 1.15rem;
                width: 100%;
            }

            .cast-members{
                flex-wrap: nowrap;
                column-gap: 15px;
                    
                .cast{
                font-size: 0.875rem;
                }
            }
        }
    } //cast-container end
}



