//Settings

//Colors
$bgColor: #050000;
$fontColor: #fefefe;
$hoverColor: #fc007a;
$darkPurple: #230e18;
$borderPurple: #12070c;
$footerText: #a3768c;
$iconColor: #fc007a;

//Gradient
$bgGradient: linear-gradient(0deg, rgba(73,24,48,1) 21%, rgba(114,38,76,1) 100%) no-repeat fixed center;


//Typography
$bodyfont: 'Montserrat', sans-serif;
$fontBlack: 900;
$fontExtra: 800;
$fontBold: 700;
$fontSemi: 600;
$fontMed: 500;
$fontReg: 400;