//Settings

//Colors
$bgColor: #050000;
$fontColor: #fefefe;
$hoverColor: #fc007a;
$purple: #40132a;
$darkPurple: #230e18;
$borderPurple: #12070c;
$footerText: #a3768c;
$iconColor: #fc007a;
$iconBgColor: #87787f;


//Gradient
$bgGradient: linear-gradient(0deg, $darkPurple 20%, rgb(135, 57, 96) 100%) no-repeat fixed center;
$bgGradientDark: linear-gradient(0deg, $darkPurple 90%, rgb(120, 48, 84) 100%) no-repeat fixed center;


//Typography
$bodyfont: 'Montserrat', sans-serif;
$fontBlack: 900;
$fontExtra: 800;
$fontBold: 700;
$fontSemi: 600;
$fontMed: 500;
$fontReg: 400;