@use '../base/settings' as *;

//typography

body, h1, h2, h3, h4, a, p{
    font-family: $bodyfont;
    color: $fontColor;
}

h1{
    font-size: 2rem;
    font-weight: $fontExtra;
}

h2{
    font-weight: $fontBold;
}